*.iml
*.sh
.DS_Store
.idea/
.gradle/
build/
/classes/
server/core/data/
server/core/logs/
web/node_modules
web/npm-debug.log
web/client/dist
web/ui/dist
web/server/assets.dev.json
web/server/assets.pro.json
web/.sass-cache
web/todo.md
data/