<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="Flame">
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%style{%d{yyyy-MM-dd HH:mm:ss.SSS}}{white} %highlight{%-5level}{FATAL=red, ERROR=red, WARN=yellow, INFO=Cyan, DEBUG=green, TRACE=white}%style{- [%t]}{white} %highlight{%msg%n%throwable}{FATAL=red, ERROR=red, WARN=yellow, INFO=bright white, DEBUG=green, TRACE=bright black}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>