#logo {
    width: 36px;
    height: 36px;
    margin: 14px 7px 0 20px;
    float: left;
}

#logo-text {
    color: #fff;
    padding: 16px 10px;
}

#navbar-right {
    margin-top: 18px;
    margin-right: 20px;
}

.search input {
    background: rgba(0, 0, 0, 0.2);
    color: #FFF;
    border-radius: 5px;
    padding: 0 45px 0 15px;
    border: none;
    width: 500px;
    height: 46px;
    position: relative;
    top: 6px;
    margin-left: 80px;
    outline: none;
    font-size: 16px;
}

#searchButton {
    padding: 2px 12px;
    color: #FFF;
    background-color: transparent;
    border: none;
}

#searchBtn {
    position: relative;
    left: -40px;
    top: 10px;
}

#loginBtn {
    padding: 2px 6px;
    cursor: default;
}

.navbar-right-icon {
    position: relative;
    top: 5px;
}

.sub-navbar {
    border-top: 1px solid #eee;
    background-color: rgba(255, 255, 255, 1)
}

.sub-navbar .list-inline {
    display: inline-block;
    position: relative;
    top: 8px;
    color: #455A64;
    font-size: 14px;
    line-height: 30px
}

.sub-navbar ul > li {
    margin: 0 4px;
    padding: 0 17px;
    border-bottom: 4px solid transparent;
    transition: all 0.2s;
}

.sub-navbar ul > li:hover {
    border-color: #B2EBF2;
    transition: all 0.2s;
}

.sub-navbar ul > li.active {
    border-color: #0288D1;
    color: #0288D1;
    transition: all 0.2s;
}

.poster {
    height: 280px;
    background: linear-gradient(rgb(236, 64, 122), #0288D1);
    position: relative;
    padding-top: 50px;
}

.poster .logo > img {
    width: 70px;
}

.poster .name {
    color: #FFF;
}

.global-navbar {
    position: relative;
    width: 100%;
    height: 58px;
    background: #1565C0;
}

#system-menu md-tabs-canvas, #system-menu md-pagination-wrapper {
    height: 42px;
}

#system-menu .md-tab {
    padding: 9px 26px;
    letter-spacing: 1px;
}

footer {
    color: #333;
    line-height: 40px;
    font-size: 14px;
    margin-top: 20px;
}

footer .logo {
    font-family: Comfortaa;
    font-size: 15px;
}

md-content {
    background-color: transparent;
}

.mdi-folder {
    color: #FFCA28;
}

.sidenav {
    position: fixed;
    left: 0;
    top: 0;
    width: 68px;
    height: 100%;
    padding-top: 100px;
    z-index: 1;
}

.sidenav .mdi {
    padding-left: 6px;
}

.sidenav md-list-item {
    overflow: hidden;
    margin: 15px 0;
}

.sidenav md-list-item.active, .sidenav md-list-item.active i, .sidenav md-list-item.active svg {
    color: #1565C0 !important;
    fill: #1565C0 !important;
}

.nav-action-bar {
    position: fixed;
    z-index: 21;
    top: 51px;
    right: 50%;
    margin-right: -420px;
}

.nav-action-bar button {
    margin: 12px 8px 0 0;
    line-height: 32px;
    min-height: 0;
    color: #616161 !important;
}

