.editor {
}

.editor .interfaces .card {
    margin-top: 15px;
    border-top: none;
}

.editor .group section:nth-of-type(1).card {
    margin-top: 0;
}

.editor .interfaces .group-name {
    background: transparent;
}

.editor .interfaces .group-name button {
    color: rgba(0, 0, 0, 0.6);
    margin: 0;
    margin-bottom: 5px;
}

.editor .interfaces .group-body .card:nth-of-type(1) {
    margin-top: 0;
}

.editor .publish .sidebar .editors md-icon span {
    position: relative;
    top: 3px;
    font-family: 'RobotoRegular', 'HanHei SC', 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif;
}

.editor .publish .sidebar .editors ._md-subheader-inner {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.editor .publish md-toolbar {
    border-radius: 2px 2px 0 0;
    background: #424242;
}

.editor .publish md-input-container {
    margin-top: 27px;
}

.editor .publish md-toolbar button.md-accent > md-icon {
    fill: #1565C0;
}

.editor .publish .status > md-list {
    margin-left: -8px;
    margin-right: -8px;
    padding-top: 0;
}

.editor .publish .status > md-list > md-list-item {
    width: 25%;
    float: left;
    padding: 10px;
    padding-top: 6px;
}

.editor .publish .status > md-list > md-list-item > .md-item-text {
    width: 100%;
    padding: 10px;
    border-top: 2px solid #1565C0;
    border-radius: 2px;
}

.editor .publish .card {
    border-radius: 0;
    box-shadow: none;
    margin-top: 0;
}

.editor .publish md-divider {
    margin: 0 -16px;
}

.editor .publish .card > h4 {
    margin-top: 35px;
}

.editor .publish .card:nth-of-type(1) > h4 {
    margin-top: 15px;
}

.editor .publish md-content md-card:nth-child(1) {
    margin-top: 0;
}

.editor .publish .button-group {
    margin-top: 15px;
}

.editor .publish md-input-container:not(.md-input-invalid).md-input-focused md-icon {
    fill: #1565C0;
}

.editor .publish md-input-container:not(.md-input-invalid).md-input-focused label {
    color: #1565C0;
}

.editor .publish md-input-container:not(.md-input-invalid).md-input-focused .md-input {
    border-color: #1565C0;
}

.editor .md-headline {
    font-size: 18px;
    color: rgb(236, 64, 122);
}