.layout {

}

.layout-default {
    padding-top: 100px;
}

.layout-default .sidenav {
    background-color: transparent;
    width: 180px;
    padding-left: 12px;
}

.layout-default .sidenav md-list-item {
    margin: 7px 0;
}

.layout-default .sidenav .mdi {
    color: rgba(0, 0, 0, 0.5);
    margin-right: 12px;
}

.layout-default .sidenav md-list-item .md-list-item-inner>md-icon:first-child:not(.md-avatar-icon) {
    margin-right: 18px;
}

.layout-default .right-main-container {
    position: relative;
    margin-left: 230px;
    margin-right: 320px;
    margin-top: 15px;
}

.layout-default .right-main-container > .center-wrapper {
    margin: 0 auto;
    max-width: 1024px;
}